<div class="container" id="login-img">
  <style>
    body {
      background-image: url(../assets/img/signINBackground.jpg);
      background-repeat: no-repeat;
      background-position: fixed;
      background-size: cover;
      background-attachment: fixed;
      width: auto;
      align-items: center;
    }
  </style>
  <div class="row">
    <div class="col-md-12">
      <div class="container text-center login-form">

        <form class="form-signin" action="/login" method="POST">
    
          <h1 class="h1 mb-6 font-weight-normal text-black" id="indexHeader-signIn">Please sign in</h1>

          <label for="inputEmail" class="sr-only">Username</label>
          <input type="text" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus=""
            name="username">

          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
            name="password">

          <button class="btn btn-lg btn-primary btn-block" type="submit" id="plum">Sign In</button>
          <a href="/register" class="btn btn-lg btn-primary btn-block" id="plum">Register</a>
          <h2 class="mt-5 mb-4" id="quote">Civilization begins with distillation - William Faulkner</h2>
        </form>
      </div>
    </div>
  </div>
</div>